#content{
  width: 100%;
  max-width:900px;
  margin: 0 auto;
}
/* The web page might have a gradient look*/
body{
  background-color: #e6e6ff;
}

.mast{
  font-family: "Advent Pro" , sans-serif;
  font-size: 60px;
  padding-bottom: 25px;
background-color: #8cd9b3;
font-weight: 600;
padding-top:15px

}

.headline{
font-family: "PT Serif", serif;
font-size: 35px;
font-weight: bold;
padding-top: 0px;
}



.block1{
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffb3b3;
}


.block2{
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #6f94dc;
}

#byline{
font-family: "Noto Serif KR", serif;
font-weight:normal;
font-size: 15px;
padding-bottom: 30px;
padding-top: 15px
}
 .photo1{
   align-content: center;
padding-bottom: 5;
   padding-top: 25px;
   background-color: #b3d9ff;
 }
 .caption1{
   font-family: Helvetica, Arial, sans-serif;
   align: center;
   padding-top: 5 px;
   font-style:bold;
   font-size: 12px;
   margin-bottom: 25px;
   background-color: #b3d9ff;
 }
 .column {
   float: left;
   width: 50%;
   padding: 5px;}

   .row::after {
  content: "";
  clear: both;
  display: table;
}
.sub1{
    font-family: "Noto Serif KR", serif;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 20px;
}

.p1{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.photo2{
   align-content: center;
   background-color: #ffb3b3;
   padding-bottom: 10px;
   padding-left:15px;
   margin-right: 20px;
   padding-top: 20;
}
.caption2{
  font-family: Helvetica, Arial, sans-serif;
background-color: #ffb3b3;
  padding-top: 0 px;
  font-style:bold;
  font-size: 12px;
  margin-right: 20px;

}



.photo3{
  padding-bottom: 10px;
  background-color: #ffb3b3;
  padding-left:15px;
  margin-right:20px;
  padding-top: 20;
}

.caption3{
  font-family: Helvetica, Arial, sans-serif;

  margin-top: 0 px;
  font-style:bold;
  font-size: 12px;

}

#sub2{
  font-family: "Noto Serif KR", serif;
  padding-bottom: 20px;
  font-weight: bolder;
  padding-top: 15px;
  font-size: 20px;

}

.photo4{
padding-bottom: 5px;
padding-top: 20px;
background-color: #6f94dc;
}

.caption4{
  font-family: Helvetica, Arial, sans-serif;
  align: center;
  padding-top: 0 px;
  font-style:bold;
  font-size: 12px;
  margin-bottom: 25px;
padding-bottom: 10px;
background-color: #6f94dc;
}

.p2{
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

.p3{
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}
.graphic{
  padding-bottom: 30px;
  padding-top: 20px;

}
.p4{
  font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

.p5{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

}
.p6{
  font-family: Helvetica, Arial, sans-serif;
font-size: 12px;}

.p7{
  font-family: Helvetica, Arial, sans-serif;
font-size: 12px;}

#readmore{
margin-top: 20px;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px
}
