#content{
  width: 100%;
  max-width:900px;
  margin: 0 auto;
}

h1{
font-family: 'PT Serif', serif;
font-size: 20px;
font-weight: bold;
}

h2{
  font-family: 'Noto Serif KR', serif;
  font-weight: normal;
  font-size: 15px;
}

h3{
font-family: 'Noto Serif KR', serif;
font-weight:normal;
font-size: 12px;

}
