#content{
  width: 100%;
  max-width:900px;
  margin: 0 auto;
}

h6{
  font-family: "Advent Pro" , sans-serif;
  font-size: 50px;

}

h1{
font-family: "PT Serif", serif;
font-size: 35px;
font-weight: bold;
}

h2{
  font-family: "Noto Serif KR", serif;
  font-weight: normal;
  font-size: 20px;
}

h3{
font-family: "Noto Serif KR", serif;
font-weight:normal;
font-size: 15px;
}
 .photo1{
   align-content: center;
 }

p1{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.photo2{
   align-content: center;
}

p2{
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

p3{
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

p4{
  font-family: Helvetica, Arial, sans-serif;
font-size: 12px;


}
